[submodule "csharp-core/OnlineEditorsExampleNetCore/wwwroot/assets"]
	path = csharp-core/OnlineEditorsExampleNetCore/wwwroot/assets
	url = https://github.com/ONLYOFFICE/document-templates
	branch = main/en
