#input {
    top:-5px;
    position: relative;
    left:-5px;
    border: 5px solid ;
    width: 99%;
    height: 45px;
    font-size: 24px;
}

#calc {
    margin: 0 auto;
    border: 5px solid black;
    position: relative;
    width: 360px;
    display: block;
    background-color: #97c9ee;
}

.btn {
    font-size: 24px;
    height: 80px;
    width: 80px;
    line-height: 80px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: 5px solid gray;
    border-radius: 4px;
    color: black;
    background: white;
}

.btn:hover {
    background: #97c9ee;
    color: black;
}
