body {
  background-color: #eeeeee;
}

.header {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 46px;
  background-color: #f5f5f5;
}

.header-link {
  text-decoration: none;
  position: relative;
  display: inline-flex;
  padding: 10px 8px 0 8px;
  height: 80%;
  opacity: 0.4;
  margin: 0 20px;
  cursor: pointer;
  text-align: center;
  color: black;
  font-weight: 500;
  font-size: 16px;

  &.selected {
    opacity: 1;

    &::after {
      top: 42px;
      border-top: solid 4px rgba(66, 106, 255, 0.9);
      border-radius: 4px;
      position: absolute;
      color: royalblue;
      display: block;
      content: '';
      height: 4px;
      width: 100%;
      bottom: 0;
      left: 0;
    }
  }
}

.list-div {
  width: 95%;
  position: relative;
  margin: 54px 46px 0 46px;
}

.list-div-elem {
  margin: auto 25px auto 0;
  padding: 10px;
  display: inline-flex;
}

.left-flex {
  position: relative;
  flex: 0 1 32%;
  display: inline-flex;
  justify-content: space-between;
}

.right-flex {
  position: relative;
  flex: 0 1 38%;
  display: flex;
  justify-content: space-between;
}

.list-elem {
  z-index: 1;
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 4px 0 10px;
  font-size: 16px;
  color: black;
  margin: 0 0 20px 0;
  border-radius: 5px;
}

.avatar {
  margin: 7px 0 0 15px;
}

#avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.sub {
  display: block;
  position: relative;
  min-width: 150px;
  cursor: pointer;

  &::after {
    position: absolute;
    content: '';
    margin-top: 8px;
    right: 4px;
    border: 7px solid transparent;
    border-top: 8px solid black;
    border-radius: 4px;
  }
}

.submenu {
  cursor: default;
  z-index: 10;
  display: none;
  position: absolute;
  //display: block;
  background-color: white;
}

ul {
  top: 10px;
  left: -10px;
  min-width: 160px;
  padding: 10px;
  margin-top: 0;
  background-color: white;
  border-radius: 6px;
  position: absolute;
}

.li {
  padding: 2px;
  margin-top: 7px;
  font-size: 16px;
  width: 100%;
  opacity: 0.3;
  list-style-type: none;

  &-selected {
    padding: 2px;
    margin-top: 7px;
    list-style-type: none;
    opacity: 1;
  }
}

.authorization {
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
  font-size: 14px;
  z-index: 10;
  height: 46px;
  background-color: white;
  width: 200px;
  top: 2%;
  right: 2%;
  position: absolute;
}

.authorization-p {
  display: flex;
  margin-left: 50px;

  &:before {
    cursor: pointer;
    bottom: -2px;
    left: 0;
    display: flex;
    position: absolute;
    content: '';
    margin: 6px;
    border-radius: 7px;
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: #ff6869;
  }

  &::after {
    top: 16px;
    left: 18px;
    display: block;
    position: absolute;
    content: '';
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
  }
}

.auth-warn {
  z-index: 10;
  position: absolute;
  display: block;
  top: 22.5px;
  left: 21.5px;

  &::after, &::before {
    height: 2px;
    width: 8px;
    background-color: #ff6869;
    content: ' ';
    position: absolute;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

.for-modal {
  cursor: pointer;
}

#mask {
  display: none;
  z-index: 15;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

#modal {
  display: none;
  top: 20%;
  left: 20%;
  border: 3px solid #f5f5f5;
  border-radius: 10px;
  width: 60%;
  height: 60%;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 20;

  &::before {
    top: 14%;
    position: absolute;
    display: block;
    height: 1px;
    background-color: black;
    opacity: 0.05;
    width: 100%;
    content: '';
  }
}

#modal-closer {
  cursor: pointer;
  z-index: 15;
  position: absolute;
  display: block;
  top: 7%;
  right: 6%;

  &::after, &::before {
    border-radius: 3px;
    height: 3px;
    width: 24px;
    background-color: cornflowerblue;
    content: ' ';
    position: absolute;
  }

  &::after {
    transform: rotate(45deg);
  }

  &::before {
    transform: rotate(-45deg);
  }
}

h1 {
  top: -5px;
  position: absolute;
  margin-left: 40px;
}

.modal-flex {
  margin-top: 80px;
  margin-left: 40px;
  display: flex;
  flex: 1 1 auto  ;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-flex-class {
  margin-top: 20px;
  min-width: 24%;
  position: relative;
  border-radius: 8px;
  border: 1.5px solid rgba(0,0,0,.1);
  padding: 14px;
  font-size: 14px;
  display: flex;
  background-color: white;
}
.modal-btn{
  cursor: pointer;
  right: 2%;
  bottom: 4%;
  width: 180px;
  padding: 10px;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: cornflowerblue;
  position: absolute;
  display: block;
}
#modal-flex-sub{
  padding: 0 15px;
  cursor: pointer;
  &::after {
    position: absolute;
    content: '';
    margin-top: 20px;
    right: 15px;
    border: 7px solid transparent;
    border-top: 8px solid black;
    border-radius: 4px;
  }
}
.ul-modal{
  flex-wrap: wrap;
  display: flex;
  top: 33px;
  left: -14px;
  width: 218px;
  padding: 10px;
  margin-top: 0;
  background-color: white;
  border-radius: 6px;
  position: absolute;
}
#p-sub{
  display: block;
}
